{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": "last 3 versions",
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ]
}