@import 'variables.styl'

.single-post
  background-color: #f3f3f3;
  border: 2px solid #ddd;
  box-shadow: 2px 2px 0 rgba(#000, 10%);
  color: darken($textColor, 20%);
  font-family: $siteFont;
  margin-bottom: 40px;
  padding: 25px 25px 25px 25px;

  h2 
    font-size: 24px; 
    font-weight: normal;
    margin-bottom: 5px;
  
  h3 
    color: lighten($textColor, 20%)
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 16px;


  button,
  a 
    background-color: $primaryColor;
    border: none;
    color: #eee;
    cursor: pointer;
    font-family: $siteFont;
    font-size: 14px;
    margin-right: 10px;
    padding: 6px 10px;
    text-decoration: none;
  